/* Rules.css */
/* CSS for the Show Rules button */
.rules1 {
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  border: none; /* Remove button border */
  padding: 10px 20px; /* Add padding for better spacing */
  font-size: 16px; /* Font size */
  cursor: pointer; /* Show pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
  border-radius: 15px;
}

.rules1:hover {
  background-color: #0056b3; /* Darker background color on hover */
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); /* Slightly stronger shadow on hover */
}

/* Style for the Hide Rules button (when rules are shown) */
.rules1.hide {
  background-color: rgb(110, 174, 252); /* Red background color */
}

/* Style for the Show Rules button (when rules are hidden) */
.rules1.show {
  background-color: rgb(41, 112, 255); /* Blue background color */
}

.rules-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .rules-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .rules-list {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .rules-list li {
    font-size: 16px;
    margin-bottom: 10px;
  }  